.form-group{
    text-align: center;
    padding: 10px;
    color:blue;
    font-size: 25px;
}
.from-group{
    text-align: center;
    padding: 5px;
    color:blue;
    font-size: 25px;
}
.from-check{
    text-align: center;
    color: blue;
    font-size: 25px;
}


